.container{
    max-width: 70rem;
    height: calc(100vh - 10rem);
    margin: 4rem auto;
    padding: 2.5rem;
    background-color: var(--gray-800);
    border-radius: 8px;
    display: flex;
    flex-direction: column; 

 }

 .next{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        border: none;
        background-color: var(--blue-700);
        color: var(--gray-100);
        border-radius: 8px;
        width: 10rem;
        padding: 1rem;

    }
    
 }